{% with title="Botnet" %}
{% include "header.html" %}
{% endwith %}

<div class="container" style="position: absolute;top:10%;left: 30%;width:400px">
  <div><br><br>
  </object>
  <center><img style="width:200px;" src="https://anonyviet.com/php/hackerhtml/anonymous-mask.png" />
  <section id="main_content;">
    <form method="POST" id="passform">
      New Password<br><input style="padding: 7.5px 15px;width: 100%;border: 1px solid #cccccc;outline: none;border-radius: 10px;" type="password" name="password" id="password1"><br><br>
      Confirm<br><input style="padding: 7.5px 15px;width: 100%;border: 1px solid #cccccc;outline: none;border-radius: 10px;" type="password" id="password2"><br><br>
      <input style="padding: 7.5px 15px; border-radius: 2px; background-color: #92561f; color: #ffffff; border: none; outline: none;" type="submit" value="Define">
    </form>

  </section>
 
  </div>
  </div>

  <script>
  document.getElementById("passform").onsubmit = function() {
    if (document.getElementById("password1").value == document.getElementById("password2").value) {
      return true;
    }
    else {
      alert("Passwords do not match");
      return false;
    }
  }
  </script>

{% include "footer.html" %}
